<div class ="row-fluid">
<div class="span3"><h4><%=@competition.nimi%></h4></div><div class="span8"><h4><%=paiva_klo(@competition.alku)%> - <%= paiva_klo(@competition.loppu)%></h4></div>
<div class="span1"><%= link_to image_tag( "roskis.jpg", alt: "delete"), @competition, method: :delete,  data: { confirm: "Oletko varma?" } %></div>
</div>
<table class="table table-bordered table-condensed">
	<colgroup>
      <col class="span2">
      <col class="span2">
      <col class="span2">
      <col class="span2">
      <col class="span1">    	         
    </colgroup>
	<thead>
		<tr>
			<th>Myyjä</th><th></th><th></th><th></th><th></th>
		</tr>	
	</thead>
	<% @osallistujat.each do |o| %>
			
			<td><%= o.nimi %></td>
			<td></td>
			
			<td> </td>	
			<td></td>
				
			<td></td>							
		</tr>
		
	<% end %>
</table>
