<%= render 'esimies_shared/vasenpalkki' %>
<div class="span10">
	<div id="kilpailun_luonti">
		<div class="row-fluid">
			<div class="span3">				
				<%= semantic_form_for @competition do |f| %>		
					<%= f.inputs do %>	
					<div class="row-fluid">
						<%= f.input :nimi, :label => "Kilpailun nimi" %>
					</div>
					<div class="row-fluid">
						<%= f.input :alku, :label => "Kilpailu alkaa", :as => :ui_date_time_picker %>					
					</div>
					<div class="row-fluid">
						<%= f.input :loppu, :label => "Kilpailu loppuu",  :as => :ui_date_time_picker %>					
					</div>
					
				</div>	
				<div class="span5">					
					<!--<%= f.input :palkintosijat, :as => :select, :collection => ["1","2","3","4","5"] %>		-->
					<h3>Palkinnot</h3>
					<div id="prizes">
						<%= f.fields_for :prizes do |prize|%>
							<%= render 'prize_fields', f:  prize %>
						<% end %>	
					
						<!--<div class="links"> TODO
							<br />
						<%= link_to_add_association('Lisää palkinto', f, :prizes) %>
						</div>	-->
					</div>					
				</div>
				<div class="span4" id="osallistujat">				
						<%= f.input :users, :label => "Osallistujat", :member_label => :nimi, :as => :check_boxes, :collection => User.where(:esimies => false) %>					
				</div>		
			</div>
			<div class="row-fluid">
				<div class="span5">
					<%= f.input :logiikka, :as => :radio,  :collection => {"Eniten myyntiä" => 1, "Eniten kauppoja" => 2, "Eniten provisiota" => 3 }  %>
				</div>						
			</div>
			
			<div class="row-fluid">
				<div class="span8">
					<%= f.input :saannot, :label => "Säännöt",  :input_html => { :rows => 3 }%>
				</div>
				<% end %> <!-- inputs -->
				<%= f.actions do %>
				<div class="span4">
					<%= f.submit 'Luo kilpailu!' %>	
				</div>
				<% end %>	
			<% end %> <!--@competition form -->
		</div>
	</div>
</div>

