<div class="row-fluid">
	<h3>Osaamisluvut</h3><br />	
</div>
<div class="row">
	<div class="span10 osaamistoday">
		<table class="table table-bordered table-condensed">
			<colgroup>
	          <col class="span4">
	          <col class="span4">				                
	        </colgroup>
			<thead>
				<tr>
					<th>Tänään</th><th><%= Date.today %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Pull%</td><td><%= @pull_today %></td>
				</tr>
				<tr>
					<td>Provisio ka. (€)</td><td><%= @kmprovisio_today %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="span10 osaamismonth">
		<table class="table table-bordered table-condensed">
			<colgroup>
	          <col class="span4">
	          <col class="span4">						                      
	        </colgroup>
			<thead>
				<tr>
					<th>Tässä kuussa</th><th><%= kuukausi_string(Date.today) %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Pull%</td><td><%= @pull_month %></td>
				</tr>
				<tr>
					<td>Provisio ka. (€)</td><td><%= @kmprovisio_month %></td>
				</tr>
				<tr>
					<td>Kontaktit/pv</td><td><%= @contacts_avg_month %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<p>Kuukausipalkka-arvio nykyvauhdilla:</p>
	<h4><%= @provisio_arvio.round(1) %> € + Bonus <%= @bonus_arvio%> €</h4>
</div>