<h1>Users#new</h1>

<%= form_for(@user) do |f| %>

      <%= f.label :nimi %>
      <%= f.text_field :nimi %>

      <%= f.label :tunnus %>
      <%= f.text_field :tunnus %><br />
	  
	  <%= f.radio_button(:esimies, true) %>
	  <%= f.label :asema, "Esimies" %> 
	  
	  <%= f.radio_button(:esimies, false) %>
	  <%= f.label :asema, "Myyj채" %>
	  		
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Luo k채ytt채j채", class: "btn btn-large btn-primary" %>
    <% end %>