<% @sales_month = myyja.sales_sum(Time.zone.now.beginning_of_month, Time.zone.now.end_of_month) %>
<% @sales_month_tavoite = myyja.tavoite(Time.zone.now.beginning_of_month, Time.zone.now.end_of_month, "Myynti(e)")%>
<% @contacts_month = myyja.contacts_count(Time.zone.now.beginning_of_month, Time.zone.now.end_of_month) %>
<% @contacts_month_tavoite =  myyja.tavoite(Time.zone.now.beginning_of_month, Time.zone.now.end_of_month, "Kontaktit(kpl)")%>
<% @provisio_month = myyja.provisio_sum(Time.zone.now.beginning_of_month, Time.zone.now.end_of_month) %>
<% @provisio_month_tavoite = myyja.tavoite(Time.zone.now.beginning_of_month, Time.zone.now.end_of_month, "Provisio(e)")%>
<% if !myyja.salegroup_id.nil? %>
	<% @bonustasot = myyja.salegroup.bonuslevels %>
<% end %>

<% if @sales_month < @sales_month_tavoite%>
	<% @sales_color = "#5E5D5E" %>
<% else %>
	<% @sales_color = "#02FA07" %>
<% end %>
<% if @contacts_month < @contacts_month_tavoite%>
	<% @contacts_color = "#5E5D5E" %>
<% else %>
	<% @contacts_color = "#02FA07" %>
<% end %>
<% if @provisio_month < @provisio_month_tavoite%>
	<% @provisio_color = "#5E5D5E" %>
<% else %>
	<% @provisio_color = "#02FA07" %>
<% end %>
<div class="row-fluid">					
	<div class="span4" id="myynti" style="width:<%= width %>px; height:<%= height %>px">
	</div>
	<div class="span4" id="kontaktit" style="width:<%= width %>px; height:<%= height %>px">
	</div>
	<div class="span4" id="provisio" style="width:<%= width %>px; height:<%= height %>px">
	</div>
</div>
<div class="row-fluid">	
	<table class="table table-condensed table-bordered table-pieni">	
		  <col class="span2">
	      <col class="span2">
	      <col class="span2"> 		         
	    </colgroup>
		<thead>
			<tr>
				<th>Myynti</th><th>Kontaktit</th><th>Provisio</th>
			<tr>	
		</thead>
		<tr>
			<td><%=@sales_month%> €</td><td><%=@contacts_month%> kpl</td><td><%=@provisio_month%> €</td>
		</tr>
		<tr style="color: #FAF602; background-color: #9E9E9E;">
			<td><%=@sales_month_tavoite%> €</td><td><%= @contacts_month_tavoite%> kpl</td><td><%=@provisio_month_tavoite%> €</td>
		</tr>
	</table>
</div>
<script type="text/javascript">
$(function () {
	
    var d1 = [[0, <%= @sales_month %>]];
    var d1_tavoite = [[0,<%= @sales_month_tavoite %>]];
    <% if !myyja.salegroup_id.nil? %>
    	var d1_bonukset = [<% @bonustasot.each do |b| %>[0, <%= b.ehto %>], [1, <%= b.ehto %>]<% if b != @bonustasot.last %>, null,<% end %><% end %>];
   	<% else %>
   		var d1_bonukset = [[0, 0]];
    <% end %>
    var d2 = [[0, <%= @contacts_month %>]];
    var d2_tavoite = [[0,<%= @contacts_month_tavoite %>]];
    var d3 = [[0, <%= @provisio_month %>]];
    var d3_tavoite = [[0, <%= @provisio_month_tavoite %>]];
    
    $.plot($("#myynti"), [
    {	
    	data: d1,
    	bars: { show: true },
    	color: "<%= @sales_color %>"
    },
    {	
    	data: d1_tavoite,
    	bars: { show: true },
    	color: "#FAF602"
    },
    {
    	data: d1_bonukset,
    	color: "#E01B32"
    }
    ], {
    	xaxis: {
    		show: false
    	},
    	
    	yaxis: {
    		ticks: 10,
    		min: 0,
    		max: 12000,
    	}
    });
    
    $.plot($("#kontaktit"), [
    {	
    	data: d2,
    	bars: { show: true },
    	color: "<%= @contacts_color %>"
    },
    {	
    	data: d2_tavoite,
    	bars: { show: true },
    	color: "#FAF602"
    }
    ], {
    	xaxis: {
    		show: false
    	},
    	
    	yaxis: {
    		ticks: 10,
    		min: 0,
    		max: 1000,
    	}
    });
    
    $.plot($("#provisio"), [
    {	
    	data: d3,
    	bars: { show: true },
    	color: "<%= @provisio_color %>"
    },
    {	
    	data: d3_tavoite,
    	bars: { show: true },
    	color: "#FAF602"
    }
    ], {
    	xaxis: {
    		show: false
    	},
    	
    	yaxis: {
    		ticks: 10,
    		min: 0,
    		max: 4000,
    	}
    });
     
});
</script>