<% @sales_today = myyja.sales_sum(Date.today, nil) %>
<% @contacts_today = myyja.contacts_count(Date.today, nil) %>
<% @provisio_today = myyja.provisio_sum(Date.today, nil) %>
<div class="row-fluid">					
	<div class="span4" id="myyntipv" style="width:<%= width %>px; height:<%= height %>px">
	</div>
	<div class="span4" id="kontaktitpv" style="width:<%= width %>px; height:<%= height %>px">
	</div>
	<div class="span4" id="provisiopv" style="width:<%= width %>px; height:<%= height %>px">
	</div>
</div>
<div class="row-fluid">					
	<div class="span4">
		<p>Myynti</p>
		<p><%= @sales_today %> €</p>
	</div>
	<div class="span4">
		<p>Kontaktit</p>
		<p><%= @contacts_today %> kpl </p> 
	</div>
	<div class="span4">
		<p>Provisio</p>
		<p><%= @provisio_today %> €</p>
	</div>
</div>
<script type="text/javascript">
$(function () {
	
    var d1 = [[0, <%= @sales_today %>]];
    var d1_tavoite = [[0, 1500]];
    var d2 = [[0, <%= @contacts_today %>]];
    var d3 = [[0, <%= @provisio_today %>]];
   
    
    $.plot($("#myyntipv"), [
    {	
    	data: d1,
    	bars: { show: true },
    	color: "#E01B1B"
    },
    {	
    	data: d1_tavoite,
    	bars: { show: true },
    	color: "#D0E01B"
    }
    ], {
    	xaxis: {
    		show: false
    	},
    	
    	yaxis: {
    		ticks: 10,
    		min: 0,
    		max: 2000,
    	}
    });
    
    $.plot($("#kontaktitpv"), [
    {	
    	data: d2,
    	bars: { show: true },
    	color: "#222"
    }
    ], {
    	xaxis: {
    		show: false
    	},
    	
    	yaxis: {
    		ticks: 10,
    		min: 0,
    		max: 60,
    	}
    });
    
    $.plot($("#provisiopv"), [
    {	
    	data: d3,
    	bars: { show: true },
    	color: "#111"
    }
    ], {
    	xaxis: {
    		show: false
    	},
    	
    	yaxis: {
    		ticks: 10,
    		min: 0,
    		max: 500,
    	}
    });
     
});
</script>