<% @sales_today = myyja.sales_sum(Date.today, nil) %>
<% @sales_today_tavoite = myyja.tavoite(Time.zone.now, Time.zone.now, "Myynti(e)")%>
<% @contacts_today = myyja.contacts_count(Date.today, nil) %>
<% @contacts_today_tavoite = myyja.tavoite(Time.zone.now, Time.zone.now, "Kontaktit(kpl)")%>
<% @provisio_today = myyja.provisio_sum(Date.today, nil) %>
<% @provisio_today_tavoite = myyja.tavoite(Time.zone.now, Time.zone.now, "Provisio(e)")%>
<% if @sales_today < @sales_today_tavoite%>
	<% @sales_color = "#5E5D5E" %>
<% else %>
	<% @sales_color = "#02FA07" %>
<% end %>
<% if @contacts_today < @contacts_today_tavoite%>
	<% @contacts_color = "#5E5D5E" %>
<% else %>
	<% @contacts_color = "#02FA07" %>
<% end %>
<% if @provisio_today < @provisio_today_tavoite%>
	<% @provisio_color = "#5E5D5E" %>
<% else %>
	<% @provisio_color = "#02FA07" %>
<% end %>

<div class="row-fluid">					
	<div class="span4" id="myyntipv" style="width:<%= width %>px; height:<%= height %>px">
	</div>
	<div class="span4" id="kontaktitpv" style="width:<%= width %>px; height:<%= height %>px">
	</div>
	<div class="span4" id="provisiopv" style="width:<%= width %>px; height:<%= height %>px">
	</div>
</div>
<div class="row-fluid">					
	<table class="table table-condensed table-bordered table-pieni">	
		  <col class="span2">
	      <col class="span2">
	      <col class="span2"> 		         
	    </colgroup>
		<thead>
			<tr>
				<th>Myynti</th><th>Kontaktit</th><th>Provisio</th>
			<tr>	
		</thead>
		<tr>
			<td><%=@sales_today%> €</td><td><%=@contacts_today%> kpl</td><td><%=@provisio_today%> €</td>
		</tr>
		<tr style="color: #FAF602; background-color: #9E9E9E;">
			<td><%=@sales_today_tavoite%> €</td><td><%= @contacts_today_tavoite%> kpl</td><td><%=@provisio_today_tavoite%> €</td>
		</tr>
	</table>
</div>
<script type="text/javascript">
$(function () {
	
    var d1 = [[0, <%= @sales_today %>]];
    var d1_tavoite = [[0, <%= @sales_today_tavoite %>]];
    var d2 = [[0, <%= @contacts_today %>]];
    var d2_tavoite = [[0, <%= @contacts_today_tavoite %>]];
    var d3 = [[0, <%= @provisio_today %>]];
    var d3_tavoite = [[0, <%= @provisio_today_tavoite %>]];
   
    
    $.plot($("#myyntipv"), [
    {	
    	data: d1,
    	bars: { show: true },
    	color: "<%= @sales_color %>"
    },
    {	
    	data: d1_tavoite,
    	bars: { show: true },
    	color: "#FAF602"
    }
    ], {
    	xaxis: {
    		show: false
    	},
    	
    	yaxis: {
    		ticks: 10,
    		min: 0,
    		max: 700,
    	}
    });
    
    $.plot($("#kontaktitpv"), [
    {	
    	data: d2,
    	bars: { show: true },
    	color: "<%= @contacts_color %>"
    },
    {	
    	data: d2_tavoite,
    	bars: { show: true },
    	color: "#FAF602"
    }
    ], {
    	xaxis: {
    		show: false
    	},
    	
    	yaxis: {
    		ticks: 10,
    		min: 0,
    		max: 60,
    	}
    });
    
    $.plot($("#provisiopv"), [
    {	
    	data: d3,
    	bars: { show: true },
    	color: "<%= @provisio_color %>"
    },
    {	
    	data: d3_tavoite,
    	bars: { show: true },
    	color: "#FAF602"
    }
    ], {
    	xaxis: {
    		show: false
    	},
    	
    	yaxis: {
    		ticks: 10,
    		min: 0,
    		max: 300,
    	}
    });
     
});
</script>