<% @sales = Order.where('created_at >=  ? and created_at <= ?', alku, loppu).sum('hinta')%>
<div class="row-fluid">					
	<div class="span4" id="<%= aika %>" style="width:200px; height:300px">
	</div>
</div>
<div class="row-fluid">
<p><%= @sales%> €</p>
</div>
<% if aika == "paiva"%>
	<% @max = 3000 %>
<%elsif aika == "kuukausi"%>
	<% @max = 40000 %>
<% elsif aika == "vuosi"%>
	<% @max = 480000 %>
<% end %>
<script type="text/javascript">
$(function () {
	
    var d1 = [[0, <%= @sales %>]];
   
   
    
    $.plot($("#<%=aika%>"), [
    {	
    	data: d1,
    	bars: { show: true },
    	color: "#E01B1B"
    } 
    ], {
    	xaxis: {
    		show: false
    	},
    	
    	yaxis: {
    		ticks: 10,
    		min: 0,
    		max: <%=@max%>,
    	}
    });
    
        
});
</script>