<%= render 'esimies_shared/vasenpalkki' %>
<div class="span8">
	<div class="row-fluid">
		<div class="span3">
			<%= link_to image_tag("myyntiryhmat_pieni.jpg" , :alt => "Myyntiryhmät", :mouseover => "myyntiryhmat_pieni_hover.JPG"), myyntiryhmat_path%>
		</div>	
		<div class="span3">
			<%= link_to image_tag("kilpailut_pieni.jpg" , :alt => "Myyntiryhmät", :mouseover => "kilpailut_pieni_hover.JPG"), competitions_path %>
		</div>	
		<div class="span3">
			<%= image_tag"paalinkki_kokonaismyynti.JPG" , :alt => "Kokonaismyynti" %>
		</div>	
		<div class="span3">	
			<%= link_to image_tag("kontaktit_pieni.jpg" , :alt => "Kontaktit", :mouseover => "kontaktit_pieni_hover.JPG"), kontaktit_path %>
		</div>		
	</div>
	
</div>
<div class="span2">
<%= render 'esimies_shared/oikeapalkki' %>
</div>