<%= render 'myyja_shared/vasenpalkki' %>
<div class="span10">
	<div class="row">
		<div class="span3 offset1">
			<%= image_tag "myynti_iso.JPG" %>
		</div>
		<div class="span2">
			<%= link_to image_tag("kilpailut_pieni.jpg", :mouseover => "kilpailut_pieni_hover.JPG"), '#' %>
		</div>
		<div class="span2">
			<%= image_tag "myyja_placeholder_pieni.jpg" %>
		</div>
		<div class="span3">
			<%= render 'myyja_shared/oikeapalkki'%>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4">
			<div class="myyntipv">
				<p>Kontaktit tänään: <%= @contacts_today %> kpl </p> <br />
				<p>Myynti tänään: <%= @sales_today %> €</p> <br />
				<p>Provisio tänään: <%= @provisio_today %> €</p> <br />
			</div>
		</div>
		<div class="span4">
			<div class="myyntikk">
				<p>myyntigraafi</p>
			</div>
		</div>
		<div class="span4">
			<div class="osaamisluvut">
				<p>osaamisluvut</p>
			</div>
		</div>
	</div>	
</div>
