<%= semantic_form_for @goal do |f|%>
	<%= f.inputs do %>	
		<div class="row-fluid">
			<%= f.input :user_id , :as => :hidden, :value => @user.id%>
			<p>Riippumatta asetetusta aikavälistä tavoite näkyy myyjälle kuukausi-ja päivätavoitteiksi jaoteltuna.</p>
			<%= f.input :alku, :label => "Mistä:",  :as => :ui_date_time_picker%>					
			<%= f.input :loppu, :label => "Mihin:", :as => :ui_date_time_picker%>	
			<%= f.input :tyyppi, :label => "Tavoitteen tyyppi:", :as => :select, :collection => ["Kaupat(kpl)", "Kontaktit(kpl)", "Myynti(e)", "Provisio(e)"]%>	
			<%= f.input :maara, :label => "Tavoite (kpl / e)"%>			
		</div>
	<% end %> <!-- inputs -->	
	<%= f.actions do %>
		<%= f.submit 'Luo tavoite!', :class => " btn btn-inverse" %>	
	<% end %>
<% end %> <!-- goal form -->

<script>
	
	$(function() {
	$('.ui-datetime-picker').datetimepicker({
		timeFormat: 'hh:mm',
		stepHour: 1,
		stepMinute: 1
	});
	
	$.datepicker.regional['fi'] = {clearText: 'Tyhjennä', clearStatus: '',
		closeText: 'Sulje', closeStatus: '',
		prevText: '<Edellinen', prevStatus: '',
		nextText: 'Seuraava>', nextStatus: '',
		currentText: 'Nykyinen', currentStatus: '',
		monthNames: ['Tammikuu','Helmikuu','Maaliskuu','Huhtikuu','Toukokuu','Kesäkuu',
		'Heinäkuu','Elokuu','Syyskuu','Lokakuu','Marraskuu','Joulukuu'],
		monthNamesShort: ['Tammi','Helmi','Maalis','Huhti','Touko','Kesä',
		'Heinä','Elo','Syys','Loka','Marras','Joulu'],
		monthStatus: '', yearStatus: '',
		weekHeader: 'Vko', weekStatus: '',
		dayNames: ['Sunnuntai','Maanantai','Tiistai','Keskiviikko','Torstai','Perjantai','Lauantai'],
		dayNamesShort: ['Su','Ma','Ti','Ke','To','Pe','La'],
		dayNamesMin: ['Su','Ma','Ti','Ke','To','Pe','La'],
		dayStatus: '', dateStatus: '',
		dateFormat: 'dd/mm/yy', firstDay: 1, 
		initStatus: 'Valitse päivä', isRTL: false};
	$.datepicker.setDefaults($.datepicker.regional['fi']);
	
	$.timepicker.regional['fi'] = {
	timeOnlyTitle: 'Valitse aika',
	timeText: 'Aika',
	hourText: 'Tunti',
	minuteText: 'Мinuutti',
	secondText: 'Sekunti',
	millisecText: 'Millisekunti',
	currentText: 'Nyt',
	closeText: 'Valmis',
	ampm: false
	};
	$.timepicker.setDefaults($.timepicker.regional['fi']);
	
	
});
</script>