<%= render 'esimies_shared/vasenpalkki' %>
<div class="tuote_luonti">
	<%= render 'esimies_shared/product_form' %>
</div>

<div class="tuotteet">
	<% if @products.any? %>
	<table>
		<tr>
			<td>Tuote</td><td>Tuoteryhmä</td><td></td> 
		</tr>	
		<% @products.each do |product| %>
			<tr>
				<td><%= product.kuvaus %></td>
				<td><%= product.category.kuvaus %></td>
				<td><%= link_to "delete", product, method: :delete,  data: { confirm: "Oletko varma?" } %></td>
			</tr> 
		<% end %>
	</table>	
	<% end %>
</div>

<div class="tuoteryhma_luonti">
<%= form_for(@category) do |f| %>

	<%= f.label :kuvaus %>
	<%= f.text_field :kuvaus %>

	<%= f.submit "Luo tuoteyhmä" %>
<% end %>
</div>
<div class="tuoteryhmat">
	<% if @categories.any? %>
	<table>
		<tr>
			<td>Tuoteryhmä</td><td></td> 
		</tr>	
		<% @categories.each do |category| %>
			<tr>
				<td><%= category.kuvaus %></td><td><%= link_to "delete", category, method: :delete,  data: { confirm: "Oletko varma?" } %></td>
			</tr> 
		<% end %>
	</table>	
	<% end %>
</div>
