<%= render 'esimies_shared/vasenpalkki' %>
<div class="span10">
	<div class="row-fluid" id="tuoteryhmat">
		<div class="row-fluid">
			<div class="span4 offset1"><h4>Luo tuoteryhmä</h4></div>
			<div class="span4 offset1"><h4>Tuoteryhmät</h4></div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<div class="form form-inline">
					<%= form_for(@category) do |f| %>
						<%= f.label :kuvaus %>
						<%= f.text_field :kuvaus, class: "input-medium" %><br />				
						<%= f.submit "Luo tuoteyhmä", class: "btn btn-inverse" %>
					<% end %>
				</div>
			</div>
			<div class="span7">
				<% if @categories.any? %>
				<table class="table table-condensed table-bordered table-pieni">
					<colgroup>
			          <col class="span4">
			          <col class="span2">
			          <col class="span1">
			        </colgroup>
					<thead>
						<tr>
							<th>Tuoteryhmä</th><th>Tuotteet(kpl)</th><th></th> 
						</tr>	
					</thead>			
					<% @categories.each do |category| %>
						<tr>
							<td><%= category.kuvaus %></td>
							<td><%= category.products.count %>
							<td><%= link_to image_tag( "roskis.jpg", alt: "delete"), category, method: :delete,  data: { confirm: "Oletko varma?" } %></td>
						</tr> 
					<% end %>
				</table>	
				<% end %>
			</div>
		</div>	
	</div>
	
	<div class="row-fluid" id="tuotteet">
		<div class= "row">
			<div class="span4"><h4>Luo tuote</h4></div>
			<div class="span4"><h4>Tuotteet</h4></div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<%= render 'esimies_shared/product_form' %>
			</div>
		
			<div class="span7">
				<% if @products.any? %>
				<table class="table table-condensed table-bordered table-pieni">
					<colgroup>
			          <col class="span4">
			          <col class="span1">
			          <col class="span1">
			          <col class="span4">
			          <col class="span1">
			        </colgroup>
					<thead>
						<tr>
							<th>Tuote</th><th>Hinta(€)</th><th>Provisio(€)</th><th>Tuoteryhmä</th><th></th> 
						</tr>	
					</thead>
					<% @products.each do |product| %>
						<tr>
							<td><%= product.kuvaus %></td>
							<td><%= product.hinta %></td>
							<td><%= product.provisio %></td>
							<td><%= form_tag('products/' + product.id.to_s, :method => :put) do %>
									<%= select_tag "product[category_id]", options_from_collection_for_select(@categories,"id", "kuvaus", product.category_id),  
									:include_blank => true,  
									:onchange => "this.form.submit();",
									:class => 'input-medium' %>	
						<% end %></td>
							<td><%= link_to image_tag( "roskis.jpg", alt: "delete"), product, method: :delete,  data: { confirm: "Oletko varma?" } %></td>
						</tr> 
					<% end %>
				</table>	
				<% end %>
			</div>
		</div>
	</div>
</div>
