<div class="row">
<div class="span1">
	<%= form_tag '/contact_aikavaihto', remote: true do %>
		<div><%= hidden_field_tag 'aika', 'Tänään' %></div>
		<% if @aika == "Tänään"%>
		<%= submit_tag 'Tänään', :class => "btn btn-primary", :disabled => true %>
		<% else %>
		<%= submit_tag 'Tänään', :class =>"btn"%>
		<% end %>
	<% end %>
</div>	
</div>
<div class="row">
<div class="span1">
	<%= form_tag '/contact_aikavaihto', remote: true do %>
		<div><%= hidden_field_tag 'aika', 'Tämä kuu' %></div>
		<% if @aika == "Tämä kuu"%>
		<%= submit_tag 'Tämä kuu', :class => "btn btn-primary", :disabled => true %>
		<% else %>
		<%= submit_tag 'Tämä kuu', :class =>"btn" %>
		<% end %>
	<% end %>
</div>
</div>