<% if @aika == "Tänään"%>
	<p>Kontakteja tänään <%=@contacts.count%> kpl.</p>
<% elsif @aika == "Tämä kuu" %>
	<p>Kontakteja tässä kuussa <%=@contacts.count%> kpl.</p>
<% end %>

<table class="table table-bordered table-condensed">
	<colgroup>
      <col class="span2">
      <col class="span2">
      <col class="span2">
      <col class="span2">
      <col class="span1">    	         
    </colgroup>
	<thead>
		<tr>
			<th>Myyjä</th><th>Aika</th><th>Tulos</th><th>Tuote</th><th></th>
		</tr>	
	</thead>
	<%if !@contacts.empty?%>
		<% @contacts.each do |contact| %>
			
				<tr>			
				<td><%= contact.user.nimi %></td>
				<td><%= paiva_klo(contact.created_at.time) %></td>
				<% if contact.tilaus %>
				<td> Tilaus </td>	
				<td><%= Order.find_by_contact_id(contact.id).kuvaus%></td>
				<% else %>
				<td>ei tilausta</td>	
				<td></td>
				<% end %>						
				<td><%=link_to image_tag( "roskis.jpg", alt: "delete"), contact, method: :delete,  data: { confirm: "Oletko varma?" } %></td>							
			</tr>
			
		<% end %>

	<% end %>	
</table>

