<%= @salegroup.nimi %>
<%= @aika %>
<table class="table table-condensed table-bordered table-pieni">
	<colgroup>
      <col class="span1">
      <col class="span1">
      <col class="span1">
      <col class="span1">
      <col class="span1">
      <col class="span1">		         
    </colgroup>
	<thead>
		<tr>
			<th>Myyjä</th><th>Myynti €</th><th>Kontaktit/pv</th><th>Pull %</th><th>Provisio €</th><th></th>
		</tr>	
	</thead>
	<% @myyjat.each do |myyja| %>
		<% if @aika == "Tänään" %>
		<tr>
			<td><%= myyja.nimi %></td>
			<td><%= myyja.sales_sum(Date.today, nil) %></td>				
			<td><%= myyja.contacts_avg(Date.new(Time.zone.now.year, Time.zone.now.month, 1), Date.today) %></td>
			<td><%= myyja.pull(Date.today, nil) %></td>
			<td><%= myyja.provisio_sum(Date.today, nil) %></td>				
			<td>
				<%= form_tag '/myyjavaihto', remote: true, :class => "image-submit-tag" do %>
					<%= hidden_field_tag 'myyja_id', myyja.id %>
					<% if myyja == @myyja_valittu %>
			   			<%= image_submit_tag "bar_graph_selected.jpg", :disabled => true  %>
				   	<% else %>	
						<%= image_submit_tag "bar_graph.JPG", :onmouseover => "this.src='assets/bar_graph_hover.JPG'", :onmouseout => "this.src='assets/bar_graph.JPG'" %>
					<% end %>
				<% end %>
			</td>
		</tr>
		<% elsif @aika == "Tämä kuu" %>
		<tr>
			<td><%= myyja.nimi %></td>
			<td><%= myyja.sales_sum(Time.zone.now.beginning_of_month, Time.zone.now.end_of_month) %></td>				
			<td><%= myyja.contacts_avg(Date.new(Time.zone.now.year, Time.zone.now.month, 1), Date.today) %></td>
			<td><%= myyja.pull(Time.zone.now.beginning_of_month, Time.zone.now.end_of_month) %></td>
			<td><%= myyja.provisio_sum(Time.zone.now.beginning_of_month, Time.zone.now.end_of_month) %></td>				
			<td>				
					<%= form_tag '/myyjavaihto', remote: true, :class => "image-submit-tag" do %>
						<%= hidden_field_tag 'myyja_id', myyja.id %>
						<% if myyja == @myyja_valittu %>
				   			<%= image_submit_tag "bar_graph_selected.jpg", :disabled => true  %>
					   	<% else %>	
							<%= image_submit_tag "bar_graph.JPG", :onmouseover => "this.src='assets/bar_graph_hover.JPG'", :onmouseout => "this.src='assets/bar_graph.JPG'" %>
						<% end %>
					<% end %>					
			</td>
		</tr>		
		<% end %> 
	<% end %>			
</table>