<div class="oikeapalkki">
	<h3>Hallintapaneeli</h3>
	<tr>
		<td><%= link_to image_tag("sivulinkki_tavoitteet.JPG", alt: "Tavoitteiden hallinta", :mouseover =>"sivulinkki_tavoitteet_hover.JPG"), new_goal_path %></td>
	</tr>
	<tr>
		<td><%= link_to image_tag("sivulinkki_kilpailut.JPG", alt: "Kilpailujen hallinta", :mouseover =>"sivulinkki_kilpailut_hover.JPG"), competitions_new_path %></td>
	</tr>
	<tr>
		<td><%= link_to image_tag("sivulinkki_myyjat.JPG", alt: "Myyjien hallinta", :mouseover =>"sivulinkki_myyjat_hover.JPG"), myyjahallinta_path %></td>
	</tr>
	<tr>
		<td><%= link_to image_tag("sivulinkki_tuotteet.JPG", alt: "Tuotteiden hallinta", :mouseover =>"sivulinkki_tuotteet_hover.JPG"), tuotehallinta_path %></td>
	</tr>
	<tr>
		<td><%= link_to image_tag("sivulinkki_bonustasot.JPG", alt: "Bonustasojen hallinta", :mouseover =>"sivulinkki_bonustasot_hover.JPG"), new_bonuslevel_path %></td>
	</tr>
</div>
